@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background-color: black;
  color: white;
}

/* Links */
a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

      /* Header */
.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  height: 100px;
  padding: 0 30px;
}

/* Logo */
.logo {
  width: 210px;
  height: auto;
}

.logo img {
  display: block;
  width: 100%; /* 100% of its container*/
  height: auto;
}

/* Desktop Menu */
.desktop-main-menu {
  margin-right: 50px;
}

.desktop-main-menu ul {
  display: flex;
}

.desktop-main-menu li {
  position: relative;
  margin-right: 20px;
  padding-bottom: 2px;
}

/* Menu bottom animation */
.desktop-main-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: left center;
}

.desktop-main-menu ul li a:hover::after {
  transform: scaleX(1);
}

      /* Sections */
section {
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 100px;
  left: 50px;
  max-width: 560px;
}

.section-inner h4 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 300;
  animation: fadeIn 0.5s ease-in-out;
}

.section-inner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  animation: fadeIn 0.5s ease-in-out 0.2s; /* 0.2s delay*/
  animation-fill-mode: both; /* Stop from showing before h4, make delay effective*/
}

.section-inner a {
  animation: fadeIn 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}

/* Background images */
.section-a {
  background-image: url('../img/section-a.webp');
}

.section-b {
  background-image: url('../img/section-b.webp');
}

.section-c {
  background-image: url('../img/section-c.webp');
}

.section-d {
  background-image: url('../img/section-d.webp');
}

.section-e {
  background-image: url('../img/section-e.webp');
}

      /*  Utility */
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden; /* stop hover effect from overflowing */
  z-index: 2;
}

.btn:hover span {
  color: black;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1; /* txt is over it */
  transform: translateY(100%); /* push white bckground down 100% */
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.btn:hover .hover {
  transform: translateY(0);
}

/* Arrow and its animation */
.position-center {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-arrow {
  animation: arrowBounce 3s ease-in infinite;
}

      /* Footer */
footer {
  position: relative;
  padding: 55px 0;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
  color: #aaa;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 2;
}

footer ul li a{
  color: white;
  transition: color 0.5s;
}

footer ul li a:hover{
  color: #aaa;
}

      /* Hamburger Menu */
/* Pop-u menu on the side; On top of the rest of content; Bars turn into an X on active; Dark Overlay over the site; Scroll Disabled*/

.hamburger {
  position: fixed;
  top: 45px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;
  /* because its a button */
  background: none;
  border: none;
}

/* Hamburger lines */
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 20px;
  /* 2px lines */
  height: 2px;
  top: 0;
  left: 0;
  background-color: white;
  transition: all 0.5s;
}

/* offset .hamburger lines */
.hamburger-middle {
  transform: translateY(5px);
}

.hamburger-bottom {
  transform: translateY(10px);
}

/* Open Hammubrger, turn into X */
.open {
  top: 42px;
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */
.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

/* Hide mobile only items */
.mobile-only {
  display: none;
}

      /* Mobile Menu */
.mobile-main-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 6;

  /* center */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 350px;
  height: 100%; 
  background-color: black;

  /* Push it to the right off the screen */
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out ;
}

/* Bring Menu from right */
.show-menu {
  transform: translateX(0);
}

.mobile-main-menu ul {
  display: flex;
  flex-direction: column;
  /* align to the right side of menu */
  align-items: end;
  justify-content: center;
  padding: 50px;
  width: 100%; /* of parent element*/
}

.mobile-main-menu ul li {
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px gray dotted;
  /* setting width 100% will move text to the left */
  width: 100%;
  text-align: right;
  padding-bottom: 10px;
}

.mobile-main-menu ul li a {
  /* block - hover on li element go activate a:hover */
  display: block;
  color: white;
  transition: color 0.4s;
}

.mobile-main-menu ul li a:hover {
  color: gray;
}

      /* INNER PAGES */
/* Background img*/
/* Reminder: Section is already styled at row 86 */
.bg-falcon9 {
  background-image: url(../img/falcon-9.webp);
}

.section-animate {
  animation: fadeInBg 2s ease-in-out;
}

/* Text */
.section-inner-center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
}

.section-inner-center h1{
  font-size: 100px;
  animation: fadeIn 1s ease-in-out;
}

.section-inner-center h3{
  font-weight: 300;
  font-size: 20px;
  animation: fadeIn 1s ease-in-out 0.2s;
  animation-fill-mode: both;
}


/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes arrowBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity: 0;
    transform: translateY(-10px); /* go up */
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Inner page bg-img */
@keyframes fadeInBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media Queries */

@media (max-width: 1130px) {
  /* Hide desktop menu */
  .desktop-main-menu {
    display: none;
  }

  /* Show it in hamburger-menu */
  .mobile-only {
    display: block;
  }
}

@media (max-width: 600px) {
  .section-inner {
    bottom: 75px;
    left: 20px;
  }

  .section-inner h2 {
    font-size: 35px;
  }

  footer ul li:first-child {
    position: absolute;
    top: 25px;
  }

  footer ul li {
    margin-right: 15px;
  }

   /* Center the logo */
  .logo {
    width: 150px;
    margin: auto;
  }
}